<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LoginPage" value="https://cockpit-staging.immosparrow.ch/login"/>
		<add key="Login" value="test@mail.com"/>
		<add key="Pwd" value="qweqvcfersfeadw"/>
		<add key="InvalidLogin" value="te1@рвыst@mail.com"/>
		<add key="InvalidPwd" value="             "/>




	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

</configuration>